<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WebSocket测试</title>
</head>

<body>
<table>
    <tr>
        <td style='width:300px;'>
            <p>当前用户id:
            <div><input id="userId" name="userId" type="text"></div>
            <p>目标用户id：
            <div><input id="toUserId" name="toUserId" type="text" value="20"></div>
            <p>发送信息:
            <div>
                    <textarea id="msginput" name="msginput" rows="3" cols="20" type="text"
                              value="hello websocket"></textarea>
            </div>
            <div>
                连接状态: <span id='connState'></span><br>
                <button style='width:120px;margin-top:10px;' onclick="openSocket()">开启socket</button>
            </div>
            <div>
                <button style='width:120px;margin-top:10px;' onclick="sendMessage()">发送消息</button>
            </div>
        </td>
        <td style='width:600px;'>
            <div id="msgrcv" name="msgrcv" style='width:600px;height:500px;background-color: rgb(139, 177, 214);'>
            </div>
        </td>
    </tr>
</table>
</body>

<script>
    var socket;

    window.onload = function () {
        document.getElementById('connState').innerHTML = 'websocket未连接';
        document.getElementById('userId').value = Math.random().toString(36).slice(-8);
    }

    function openSocket() {
        var roomId = '100';
        if (typeof (WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        } else {
            console.log("您的浏览器支持WebSocket");
            //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
            var userId = document.getElementById('userId').value;
            var socketUrl = `ws://127.0.0.1:8090/ws/${roomId}/${userId}`;
            console.log(socketUrl);
            if (socket != null) {
                socket.close();
                socket = null;
            }
            socket = new WebSocket(socketUrl);
            //打开事件
            socket.onopen = function () {
                document.getElementById('connState').innerHTML = 'websocket连接成功';
                console.log("websocket已打开");
                //socket.send("这是来自客户端的消息" + location.href + new Date());
            };
            //获得消息事件
            socket.onmessage = function (msg) {
                var serverMsg = "收到服务端信息：" + msg.data;
                // console.log(serverMsg);
                try {
                    var data = JSON.parse(msg.data);
                    if (data.to == userId) {
                        var div = document.createElement('div');
                        div.style.width = '100%';
                        div.style.textAlign = 'left';
                        div.innerHTML = data.msg;
                        document.getElementById('msgrcv').appendChild(div);
                    }
                } catch (e) {
                    console.log(serverMsg);
                }
            };
            //关闭事件
            socket.onclose = function () {
                document.getElementById('connState').innerHTML = 'websocket连接关闭';
                console.log("websocket已关闭");
            };
            //发生了错误事件
            socket.onerror = function () {
                document.getElementById('connState').innerHTML = 'websocket连接异常';
                console.log("websocket发生了错误");
            }
        }
    }

    function sendMessage() {
        if (typeof (WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        } else {
            // console.log("您的浏览器支持WebSocket");
            var toUserId = document.getElementById('toUserId').value;
            var msginput = document.getElementById('msginput').value;
            var data = JSON.stringify({
                to: toUserId,
                msg: msginput
            });
            socket.send(data);

            var div = document.createElement('div');
            div.style.width = '100%';
            div.style.textAlign = 'right';
            div.innerHTML = msginput;
            document.getElementById('msgrcv').appendChild(div);
        }
    }
</script>

</html>